<div class="header-text">
    <h1><b>Education</b></h1>
    </div>
    <br/><br/>
    <hr/>
    <br/><br/>
    
<div class="container">
    <h4><b>High School</b></h4>
    <p>Nawamintharachutis Bangkok school  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finished&nbsp;:&nbsp;Math – Language Matthayom 3&nbsp;&nbsp;&nbsp;in 1994</p>
    <br/>

    <h4><b>Vocational Certificate</b></h4>
    <p>Dusit Commercial College  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finished&nbsp;:&nbsp;Accounting&nbsp;&nbsp;&nbsp;in 1996</p>
    <br/>
    
    <h4><b>Bachelor degree</b></h4>
    <p>Suandusit Rajabhat University  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finished&nbsp;:&nbsp;General Management (Accounting)&nbsp;&nbsp;&nbsp;in 2000</p>
    <br/>

    <h4><b>Master degree</b></h4>
    <p>Walailak University  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finished&nbsp;:&nbsp;Management Information Technology&nbsp;&nbsp;&nbsp;in 2006</p>
    <br/><br/><br/><br/>

</div>