<div class="header-text">
    <h1><b>Experience</b></h1>
</div>
    <br/><br/>
    <hr/>
    <br/><br/>
    
<div class="container">
    <h4><b>The Thai Silk co.,ltd.</b></h4>
    <b>Application Manager</b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;&nbsp;04/2020&nbsp;to&nbsp;10/2020
    <ul>
        <li>Go-live, Rollout and support Microsoft Dynamics NAV and LS Retail</li>
        <li>Support & add new configuration in NAV and LS Retail</li>
        <li>Design and develop enhancement program to support new retail business requirement</li>
        <li>Make sure sales data completely interface from LS-Retail to SAP-ERP and SAP-BW</li>
        <li>Lead POS support center - Planning, installing, maintaining, supporting, training, developing and
            implementing the retail solution and corresponding service to customer</li>
        <li>Manage IT project to ensure that project meets agree upon timeline, budget, scope and quality</li>
        <li>Maintain the best practice and ensure the team follow process and produce</li>
    </ul>
    <br/>

    <h4><b>Pattana Sports Club co.,ltd. </b></h4>
    <b>IT Project Manager</b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;&nbsp;10/2016&nbsp;to&nbsp;03/2020
    <ul>
        <li>Committee team member for select software, implementer and solution for use in organization</li>
        <li>Manage project plan to achieve as budget, timeline and scope of work</li>
        <li>Track and report project progress consistently to Project owner</li>
        <li>Monitoring of overall project progress, resources, risks and budgets</li>
        <li>Prepare information before implementation such as studying as-is business process and drawing
          workflow process, Pre-gathering requirement from user and collect data for implementation</li>
        <li>Analysis and design software solution with implementer for fit in with business process of organization</li>
        <li>Review Functional Requirement Design (FRD) document for match with scope of work</li>
        <li>Data cleansing and prepare master data for migration</li>
        <li>System testing and UAT</li>
        <li>Prepare user manual, to-be workflow process and training</li>
        <li>Go live support and system configuration for all module</li>
    </ul>
    <br/>

    <h4><b>General Hospital Products co.,ltd </b></h4>
    <b>IT Project Manager</b>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;&nbsp;01/2016&nbsp;to&nbsp;08/2016
    <ul>
        <li>Committee team member for select software, implementer and solution for use in organization</li>
        <li>Manage project plan to achieve as budget, timeline and scope of work</li>
        <li>Track and report project progress consistently to Project owner</li>
        <li>Monitoring of overall project progress, resources, risks and budgets</li>
        <li>Prepare information before implementation such as studying as-is business process and drawing
          workflow process, Pre-gathering requirement from user and collect data for implementation</li>
        <li>Analysis and design software solution with implementer for fit in with business process of organization</li>
        <li>Review Functional Requirement Design (FRD) document for match with scope of work</li>
        <li>Data cleansing and prepare master data for migration</li>
        <li>System testing and UAT</li>
        <li>Prepare user manual, to-be workflow process and training</li>
        <li>Go live support and system configuration for all module</li>
    </ul>
    <br/><br/><br/><br/><br/>
</div>