<div class="header-text">
    <h1><b>Skill</b></h1>
</div>
    <br/><br/>
    <hr/>
    <br/><br/>
    
<div class="container">
    <h4></h4>
      
    
      <ul>
        <li>SAP (Financial Accounting, Cost Controlling, Asset Management, Material Management)
          in 4 years and done full cycle project</li>
        <li>Microsoft Dynamic Navision (Finance & Accounting, Purchase & Inventory, Sales, Service, Project)</li>
        <li>Microsoft POS : LS Retail for POS of 5 Restaurants, 8 Kiosks (snack & drink) and 3 Sports Retail shop</li>
        <li>Golf software : Wingolf for Golf club management
          (T-Time booking, Ticket selling, Golf Cart and Caddy management)</li>
        <li>ERP System conceptual design</li>
        <li>Prepared project documentation (Pre-gathering requirement, Workflow process and User manual)</li>
        <li>Project training (all module)</li>
        <li>WordPress web administrator</li>
      </ul>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>