<div>
    <img src="../../assets/img/thunsirikorn.png" style="width:250px; height: 150px;"><br><br>
    <br/>    
    <h3 class="header-text"><b>Thunsirikorn.n</b></h3>
    <p></p>
    
    <ul class="sidebar-menu">
        <li><a [routerLink]="['']" ><i class="fa fa-home fa-fw w3-margin-right"></i>&nbsp;&nbsp;Home</a></li>
        <li><a [routerLink]="['/profile']" ><i class="fa fa-user fa-fw w3-margin-right"></i>&nbsp;&nbsp;Profile</a></li>
        <li><a [routerLink]="['/education']" ><i class="fa fa-graduation-cap fa-fw w3-margin-right"></i>&nbsp;&nbsp;Education</a></li>
        <li><a [routerLink]="['/experience']" ><i class="fa fa-briefcase fa-fw w3-margin-right"></i>&nbsp;&nbsp;Experience</a></li>
        <li><a [routerLink]="['/skill']"><i class="fa fa-book fa-fw w3-margin-right"></i>&nbsp;&nbsp;Skill</a></li>
    </ul>

</div>


