<div class="header-text">
    <h1><b>Profile</b></h1>
    </div>
    <br/><br/>
    <hr/>
    <br/><br/>

<div class="container">
<h4><b>Professional summary</b></h4>
      <p>I had more than 9 years of experience in Enterprise Resource Planning (ERP) project focus on Financial &
        Accounting, 
        <br/>Cost controlling, Fixed Assets, Purchasing, Inventory and Sales modules.
        Innovative and driven with a passion for delivering high-quality work in a timely manner
      </p>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>