<div class="header-text">
<h1><b>Home</b></h1>
</div>
<br/><br/>
<hr/>
<br/><br/>
<div class="container">

     <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>SAP FICO MM</mat-card-title>
          <mat-card-subtitle> </mat-card-subtitle>
        </mat-card-header>
        <br/><br/>
        <mat-card-content>
        <img mat-card-image src="../../assets/img/SAP-FICO.jpg" alt="Photo of a Shiba Inu"style="width: 370px;">
        
          <p>
            SAP project implimentation, training and support
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>MS Dynamics Navision</mat-card-title>
          <mat-card-subtitle> </mat-card-subtitle>
        </mat-card-header>
        <br/><br/>
        <mat-card-content>
        <img mat-card-image src="../../assets/img/MS-Dynamics-NAV3.jpg" alt="Photo of a Shiba Inu" style="width: 370px;">
        
          <p>
            NAV project implimentation, training and support
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Golf club management</mat-card-title>
          <mat-card-subtitle> </mat-card-subtitle>
        </mat-card-header>
        <br/><br/>
        <mat-card-content>
        <img mat-card-image src="../../assets/img/golf-booking.jpg" alt="Photo of a Shiba Inu" style="width: 370px;">
        
          <p>
            Golf management system project implimentation, training and support
          </p>
        </mat-card-content>
        <br/>
      </mat-card>     
</div>
<div class="container">
  <br/><br/><br/><br/>
</div>